body {
	margin: 0;
}

#navbar {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 25%;
     background-color: #E5E7E9;
     position: fixed;
     height: 100%;
     overflow: auto;
 	 font-size: 16px;
 	 text-align:center;
 }
 
#title {
     background-color: #48C9B0;
     color: white;
 	font-size:18px;
 	text-align:center;
 	}
	
li{
	width:220px;
	height: 20px;
	font-size: 16px;
	list-style-type: none;
	padding: 8px 20px;
	color:#000;
}

li:hover{
	background-color: #555;
	-o-transition:.7s;
	-ms-transition:.7s;
	-moz-transition:.7s;
	-webkit-transition:.7s;
	transition:.7s;
	color:white;
}

h3{
	visibility: visible;
	color: #48C9B0;
	margin: 5px;
	text-align:center;
	font-size: 24px;
}

#details {
	margin-left: 25%;
	padding:1px 16px;
	height:fixed;
}

#table1 {
    border-collapse: collapse;
    width: 100%;
	table-layout:auto;
	padding:-8px;
}

th, td {
    text-align: left;
    padding: -8px;
	height: 75px;
	
}

tr:nth-child(odd){background-color: #EBF5FB}