body {
    margin: 0;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #E5E7E9;
    position: fixed;
    height: 100%;
    overflow: auto;
	font-size: 16px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #48C9B0;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: #D6EAF8}